.navbar-top {
  background-color: #E4E4E4;

  .form-label {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    font-weight: 500;
    align-items: center;

    .icon {
      margin-right: 6px;
    }
  }

  .btn,
  .form-control {
    border: 0;
    height: 34px;
    min-width: 0;
    padding: 6px 10px;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler {
    font-size: 15px;
    padding: 0;
    color: $blue;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
  }

  @include media-breakpoint-down(md) {
    .form-inline {
      > * {
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100%;

        &.btn {
          width: auto;
          margin-bottom: 0!important;
        }
      }


    }
  }
}

.navbar-main {
  padding: 16px 0;

  .navbar-nav {

    .nav-item {
      img {
        margin-left: 10px;
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-weight: 500;
      color: #4D4D4D;
      padding: 12px 16px;
      font-size: 13px;

      &:hover {
        color: $blue;
      }


      @include media-breakpoint-down(lg) {

        padding: 12px 7px;

      }

      @include media-breakpoint-down(sm) {
        padding: 5px 5px;
        font-size: 16px;
      }
    }

    .active {
      .nav-link {
        color: $blue-light;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 5px;
    background: url(../images/separators/separator-menu.png);
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.rm-shadow:after {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}


.navbar-brand {
  max-width: 200px;

  img {
    max-width: 100%;
  }
}


//// MODULES

.inline-lang {
  display: flex;
  align-items: center;
  li {
    margin-right: 4px;

    img {
      max-width: 18px;
    }
  }
}



//////


.line-pattern {
  display: flex;
  height: 2px;
  width: 100%;
  background-color: #81d2fb;

  i {
    width: 20%;
    display: block;

    &:nth-child(2) {
      background-color: #2985c5;
    }

    &:nth-child(3) {
      background-color: #95d057;
    }

    &:nth-child(4) {
      background-color: #fd962d;
    }

    &:nth-child(5) {
      background-color: #f01156;
    }
  }

}
