.media-holder {
  position: relative;
}

.caption-ribbon {
  text-transform: uppercase;
  background-color: $orange;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  height: 38px;
  padding: 8px 15px;
  position: absolute;
  bottom: 0;
  left: -14px;
  bottom: 22px;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 14px solid $orange;
    border-left: 14px solid transparent;
    left: 0;
    position: absolute;
    bottom: -14px;
  }
}


//// SOCIAL MEDIA
.social-inline {
  display: flex;

  > li {
    margin-right: 8px;

    a {
      height: 28px;
      width: 28px;
      display: block;
      background: #fff;
      border-radius: 3px;
      color: $blue;
      font-size: 16px;
      text-align: center;
      padding: 3px 0;
    }
  }
}

/// SEPARATOR


.bseparator {
  width: 300px;
  height: 1px;
  background-color: $blue-light;
  display: block;
  margin: 30px auto;
}

.separator-shadow {
  display: block;
  margin: auto;
  width: 1053px;
  height: 75px;
  background-image: url(../images/separators/separator-shadow.png);
  background-position: center -12px;
}

////

.block-count {
  display: inline-block;
  width: 38px;
  min-width: 38px;
  height: 38px;
  background-color: $blue;
  border: 2px solid $blue;
  color: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 4px inset;
  padding: 7px 0 0;
  text-align: center;
  line-height: 1.3;
  font-size: 15px;

  &.lg {
    width: 56px;
    min-width: 56px;
    height: 56px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
  }
}


/// PROFILE

.profile {
  text-align: center;
  max-width: 280px;
  margin: auto;
  font-size: 20px;
  font-weight: 300;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 7px;
  }

  &-img {
    margin-bottom: 15px;
    display: inline-block;
  }


  .social-inline {
    justify-content: center;

    > li {
      a {
        width: auto;
        height: auto;
        font-size: 35px;
        line-height: 1;
      }
    }
  }
}



