.masterhead {


  &-banner {

    min-height: 500px;
    display: flex;
    align-items: center;
    background: #333 url('../images/temp/banner-home.png') no-repeat center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      min-height: 300px;
      padding: 30px 0;
    }


    .masterhead-copy {

      float: right;
      text-align: right;

      @include media-breakpoint-up(lg) {
        max-width: 60%;
      }


      h1 {
        font-size: 34px;
        color: #6DD2FD;
        margin-top: 0;
        margin-bottom: 30px;
        line-height: 1.2;

        span {
          display: block;

          color: #018FFC;
        }



      }

      @include media-breakpoint-down(sm) {
        h1 {
          font-size: 26px;
        }
      }
    }
  }




}



////


.section-inline-info {
  padding: 40px 0;


  .inline-info {

    > li {
      &:nth-child(2n) {

        h3 {
          color: $blue-light;
          font-size: 20px;
        }

        .inline-info-count {
          border-color: $blue-light;
          background-color: $blue-light;
        }

      }
    }

  }
}


.inline-info {
  display: flex;
  text-align: center;

  &-item {
    width: 100%;
    padding: 0 15px;
    //font-weight: 300;

    h3 {
      font-size: 20px;
      color: $blue;
    }


    .inline-info-count {
      margin-bottom: 12px;
    }

  }


  .owl-item {
    &:nth-child(2n) {

      h3 {
        color: $blue-light;
      }

      .block-count {
        border-color: $blue-light;
        background-color: $blue-light;
      }

    }
  }
}



//////

.section-timeline-steps {
  padding: 50px 0 40px;

  .section-footer {
    text-align: center;
  }

}


.timeline {

  &-steps {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;


    &:after {


      @include media-breakpoint-down(md) {
        bottom: 0;
      }

      @include media-breakpoint-up(md) {
        content: '';
        width: 3px;
        position: absolute;
        top: 4em;
        bottom: 4em;
        left: 0;
        right: 0;
        margin: auto;
        border-left: #efefef dashed 5px;
      }
    }


  }

  &-item {
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    &:last-child .timeline-icon:after {
      display: none;
    }
  }

  &-holder {
    width: 50%;
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &-icon {
    display: block;
    min-width: 144px;
    width: 144px;
    height: 144px;
    border: 1px solid rgba(221, 221, 221, 0.65);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 25px;
    margin: 0 30px;

    display: flex;
    align-items: center;
    justify-content: center;


    @include media-breakpoint-down(md) {
      float: right;
      margin: 0 0 10px;
    }

    @include media-breakpoint-down(sm) {
      float: none;

      min-width: 100px;
      width: 100px;
      height: 100px;
    }


    img {
      max-width: 60px;
      max-height: 70px;
    }


    &:after {


      @include media-breakpoint-down(md) {
        bottom: -63px;
      }

      @include media-breakpoint-up(md) {

        content: '';
        position: absolute;
        width: 35px;
        height: 50px;
        bottom: -48px;
        right: 40px;
        background: url(../images/icons/step-arrow-right.svg) no-repeat;
        opacity: .3;
      }
    }



  }

  &-body {
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: right;

    flex-direction: row-reverse;

    h3 {
      font-size: 20px;
      color: $blue;
      margin-bottom: 15px;
    }

    @include media-breakpoint-down(md) {
      display: block;
      padding-right: 40px;
    }

    @include media-breakpoint-down(sm) {
      text-align: left;
      padding: 0 20px!important;
    }
  }

  &-copy {
    font-weight: 300;
    line-height: 1.3;

    @include media-breakpoint-down(md) {
      clear: both;
    }

  }

  &-count {


    @include media-breakpoint-down(md) {
      bottom: auto;
      top: 3.5em;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 2em;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      right: -19px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }


  &-item-invert {
    .timeline {

      &-holder {
        float: right;

      }

      &-icon {
        &:after {
          right: auto;
          left: 40px;
          background: url(../images/icons/step-arrow-left.svg) no-repeat;
        }

        @include media-breakpoint-down(md) {
          float: none;
        }
      }

      &-count {
        border-color: $blue-light;
        background-color: $blue-light;
      }

      &-count {
        right: auto;
        left: -19px;
      }

      &-body {
        flex-direction: inherit;
        text-align: left;


        @include media-breakpoint-down(md) {
          padding-left: 40px;
          padding-right: 0;
        }
      }
    }
  }


}



/////

.section-program {
  padding: 20px 0 65px;

  .inline-info {
    font-weight: 300;
    line-height: 1.3;
    font-size: 17px;

    h3 {
      margin-bottom: 13px;
    }

    &-icon {
      width: 128px;
      height: 128px;
      display: inline-block;
      border-radius: 100%;
      border: 3px solid $blue;
      margin-bottom: 20px;

      display: inline-flex;
      align-items: center;
      justify-content: center;


      img {
        max-width: 62px;
        max-height: 76px;
      }
    }

    .btn {
      min-width: 170px;
    }

    p {
      min-height: 132px;
    }
  }

}

/////

.section-col-hero {
  background-color: #557ec1;
  color: #fff;
  font-weight: 300;
  padding: 60px 0;

  .container {


    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
  }


}

.col-hero {
  &-icon {


    img {
      max-width: 260px;
      margin-right: 30px;
    }

    @include media-breakpoint-up(md) {
      border-right: 1px solid #ffff;
      padding: 0 30px;
      margin-right: 50px;
    }
  }


  &-copy {
    padding: 0 10px;
  }
}



/////

.owl-carousel.carousel-inline {
  .owl-dots {
    display: none;
  }



  .owl-nav {

    button {
      font-size: 1.5em;
    }


    @include media-breakpoint-up(lg) {

      [class*='owl-'] {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent!important;
        outline: none!important;

        &:hover {
          color: $blue;
        }
      }

      button {
        font-size: 3.5em;
      }

      .owl-prev {
        left: -70px;
      }

      .owl-next {
        right: -70px;
      }
    }



  }
}

.section-team {
  .carousel-team {
    margin-top: 30px;
  }

  .owl-theme {




  }

}
