.section-copy-col {
  padding: 40px 0 0;
  font-weight: 300;



  h1 {
    min-width: 370px;
    padding-right: 20px;
    color: $blue;
  }

  &.invert {
    color: #fff;
    background-color: $blue-light;

    h1 {
      color: inherit;
    }
  }

  .masterhead-copy {
    text-align: left;
  }

  @include media-breakpoint-up(md) {

    padding: 40px 0 60px;
    font-size: 20px;
  }


  @include media-breakpoint-up(lg) {
    .container {
      display: flex;
    }
  }
}
